.banner{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  height: fit-content;
  margin: 3em 0 3em 0;
  /*padding: 1em;*/
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: unset !important;
}

.banner_title{
  font-size: 50px;
  margin: 0;
  text-align: center;
  color: var(--text-title);
  /*margin-bottom: 10px;*/
}

.banner_text{
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  padding: 0 1em;
}

.banner_parallax_image > img{
  filter: brightness(0.6) !important;
}
.banner_parallax .banner_title{
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.banner_parallax .banner_text{
  color:white;
}

@media (width <= 475px){
  .banner{
    width: 100%;
    margin: 1em 0 1em 0;
    min-height: unset;

  }

  .banner_title{
    font-size: 30px;
  }

  .banner_text{
    font-size: 16px;
  }
}

