.tabs_wrapper{
  gap: 30px;
}

.panel_wrapper{
  padding: 1em;
}

.panel{
  position: relative;
  width: 90vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
}

.panel_inview .panel_card{
  transform: translateX(-125%);
}

.panel_inview .panel_foto{
  transform: translateX(10%);
}
/*
.panel:hover > .panel_card,
.panel:active > .panel_card{
  transform: translateX(-125%);
}

.panel:hover > .panel_foto,
.panel:active > .panel_foto{
  transform: translateX(10%);
}*/

.panel_card{
  position: absolute;
  z-index: 10;
  transform: translateX(-120%);
  transition: transform 500ms;
}


.panel_foto{
  position: absolute;
  border-radius: 10px;
  /*box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);*/
  box-shadow: rgba(0, 0, 0, 0.24) 2px 2px 19px 0px;
  /*width: 800px;*/
  height: 100%;
  transition: transform 200ms;
}

@media (width <= 1024px){

  .tabs_wrapper{
    gap: 10px;
  }

  .panel_wrapper{
    width: 100%;
  }

  .panel{
    flex-direction: column-reverse;
    height: auto;
    gap: 5px;
    padding-left: 0;
    justify-content: center;
    width: 100%;
  }

  .panel_foto{
    position: relative;
    width: auto;
    height: 50vh;
    object-fit: contain;
  }

  .panel_card{
    position: relative;
    transform: translateY(0);
    width: 95%;
  }

  .panel_inview .panel_card{
    transform: translateY(-25%);
  }

  .panel_inview .panel_foto{
    transform: unset;
  }

}