.wrapper{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.description{
  color: var(--background);
  font-size: 24px;
  text-align: center;
}

.title{
  color: var(--background);
}

.appBtns_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.appBtns{
  width: 150px;
  /*e: 150px;*/
}

.appBtns img{
  width: 100%;
  /*e: 150px;*/
}

.link{
  font-size: 28px !important;
  text-align: center;
  text-shadow: 1px 1px 10px black;
  font-weight: 800 !important;
}

@media (width <= 768px){
  .description{
    padding: 0 16px;
    font-size: 16px;
    text-align: justify;
  }

  .link{
    font-size: 20px !important;
  }
}