.herobanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(0.7);
}

.content {
  --x_tiziano: -190px;
  --x_martina: 190px;
  --x_ampersand: 25px;
  --y_tiziano: 180px;
  --y_martina: 180px;
  --y_ampersand: 180px;
  --width_tizianoemartina: 400px;
  --height_tizianoemartina: 100px;
  --opacity_ampersand: 0.3;
  --y_date: -42dvh;
  --size_ampersand: 180px;
  --amount_notinview : 20px;
  --opacity_tiziano: 1;
  --opacity_martina: 1;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.tiziano, .martina, .ampersand{
  position: absolute;
  z-index: 10;
  transition: transform 600ms, opacity 500ms;
}

.tiziano {
  width: var(--width_tizianoemartina);
  height: var(--height_tizianoemartina);
  transform: translate(var(--x_tiziano), var(--y_tiziano));
  opacity: var(--opacity_tiziano);
}


.martina {
  width: var(--width_tizianoemartina);
  height: var(--height_tizianoemartina);
  transform: translate(var(--x_martina), var(--y_martina));
  opacity: var(--opacity_martina);
}

.tiziano_notinview{
  --x_tiziano: calc( -190px - var(--amount_notinview));
  --opacity_tiziano: 0;
}

.martina_notinview {
  --x_martina: calc( 190px + var(--amount_notinview));
  --opacity_martina: 0;
}

.ampersand {
  --opacity_ampersand: 0.3;
  opacity: var(--opacity_ampersand);
  width: var(--size_ampersand);
  height: var(--size_ampersand);
  z-index: 9;
  transform: translate(var(--x_ampersand), var(--y_ampersand));
}

.ampersand_notinview{
  --opacity_ampersand: 0;
}

.data {
  width: 250px;
  height: auto;
  z-index: 10;
  position: absolute;
  transform: translate(0, var(--y_date));
  transition: transform 400ms, opacity 300ms;
  opacity: 1;
}

.data_notinview{
  /*--y_date: var(-42dvh - );*/
  opacity: 0;
}

.content .savedate {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  grid-column: savedate;
  color: var(--pisellino);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
  z-index: 10;
  transform: translate(0,-35dvh);
}

.countdown {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 25px;
  z-index: 10;
  color: var(--pisellino);
  text-shadow: 1px 1px 5px black;
  margin: 0 0 5px;
}

@media (width <= 768px) {
  .content{
    --width_tizianoemartina: 350px;
    --height_tizianoemartina: 80px;
    --x_tiziano: -150px;
    --x_martina: 150px;
  }

  .tiziano_notinview{
    --x_tiziano: calc(-150px - var(--amount_notinview));
    --opacity_tiziano: 0;
  }

  .martina_notinview{
    --x_martina: calc(150px + var(--amount_notinview));
    --opacity_tiziano: 0;
  }

  .data {
    width: 200px;
  }
}

@media (width <= 565px) {
  .content{
    --width_tizianoemartina: 200px;
    --height_tizianoemartina: 60px;
    --x_tiziano: -120px;
    --x_martina: 120px;
    --x_ampersand: 15px;
    --y_martina: 24vh;
    --y_tiziano: 24vh;
    --y_ampersand: 24vh;
  }

  .tiziano_notinview{
    --x_tiziano: calc(-120px - var(--amount_notinview));
    --opacity_tiziano: 0;
  }

  .martina_notinview{
    --x_martina: calc(120px + var(--amount_notinview));
    --opacity_tiziano: 0;
  }
}

@media (width <= 435px) {
  .content{
    --width_tizianoemartina: 160px;
    --height_tizianoemartina: 60px;
    --x_tiziano: -100px;
    --x_martina: 100px;
    /*--y_tiziano: 0px;*/
    /*--y_martina: 170px;*/
    --x_ampersand: 10px;
    --size_ampersand: 100px;
    --opacity_ampersand: 0.4;
  }

  .tiziano_notinview{
    --x_tiziano: calc(-100px - var(--amount_notinview));
    --opacity_tiziano: 0;
  }

  .martina_notinview{
    --x_martina: calc(100px + var(--amount_notinview));
    --opacity_tiziano: 0;
  }

  .countdown{
    font-size: 20px;
  }

  .data{
    --y_date: -35dvh;
  }
}

@media (width <= 320px) {
  .content{
    --width_tizianoemartina: 120px;
    --size_ampersand: 80px;
    --x_tiziano: -85px;
    --x_martina: 85px;
  }

  .tiziano_notinview{
    --x_tiziano: calc(-85px - var(--amount_notinview));
    --opacity_tiziano: 0;
  }

  .martina_notinview{
    --x_martina: calc(85px + var(--amount_notinview));
    --opacity_tiziano: 0;
  }
}


