.herobanner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.hero {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  object-fit: cover;
  filter: brightness(0.3);
}

.interlaced {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background: url('/interlaced.png');
  opacity: .1;
  z-index: 5;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /*  display: grid;
    position: relative;
    z-index: 10;
    !*color: white;*!
    text-shadow: -2px 0px 20px black;
    flex-direction: column;
    align-items: center;

    height: 100%;
    grid-template-rows: [title] 50vh [date] 50px [savedate] 50px [countdown] 1fr;
    grid-template-columns: 1fr;*/
}

.tizianoemartina {
  /*width: 50vw;*/
  max-width: 750px;
  min-width: 350px;
  height: auto;
  z-index: 10;
  user-select: none;
}

.data{
  width: 250px;
  height: auto;
  z-index: 10;
  user-select: none;
}

.content > h1 {
  margin: 0;
  font-size: 70px;
  color: #fff;

  grid-column: title;
  align-self: end;
}

.content > h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
  /*color: #fff;*/
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
  grid-column: date;
}

.content .savedate {
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  grid-column: savedate;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);

}

.date {
  color: #A5C0AB;
}

.countdown {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 25px;

  grid-column: countdown;
  align-self: end;
}

.content * {
  /*color: #fff;*/
}

@media (width <= 768px){
  .tizianoemartina{
    width: 50vw;
  }

  .data{
    width: 200px;
  }
}

@media (width <= 565px) {
  .content > h1 {
    font-size: 50px;
  }

  .content > h2 {
    font-size: 30px;
  }
}

@media (width <= 565px) {
  .content > h1 {
    font-size: 40px;
  }

  .content > h2 {
    font-size: 20px;
  }

  .countdown {
    font-size: 18px;
  }
}

@media (width <= 375px) {
  .content > h1 {
    font-size: 10vw;
  }
}



